
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --lilac: #D3B7D8;
    --steel-pink: #A13E97;
    --eminence: #632A7E;
    --valentino: #280E3B;
    --purple: #451E5D;
    --navy-blue: #1a3947;
    --organge-color: #ff6600;
    --light-orange: rgb(252,162,110,.6);
    --gray: #566575;
    --peach: #EFBD9D;
    --white: #fff;
    --dark-grey: rgb(85,101,117);
    --box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px, rgba(255, 255, 255, 0.05) 0px 5px 10px;


}

body {
    background-color: var(--dark-grey);
    color: var(--white);
    font-family: Raleway, sans-serif ;
}



.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.text-outline {
    text-shadow: 3px 4px 7px black;
}

.color-white {
    color: var(--white);
}

.color-lightorange {
    color:var(--light-orange)
}

.color-orange {
    color: var(--organge-color)
}
.filter-buttons button {
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #e0e0e0;
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s;
}
.button-border {
    padding: 8px 16px;
    background-color: var(--organge-color);
    font-weight: 700;
    border-radius: 12px;
    transition: all ease .3s;
}

.button-border:hover {
    background-color: darkorange;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px, rgba(255, 255, 255, 0.05) 0px 5px 10px;}

.button-border-medium {
    background-color: unset;
    color: var(--organge-color);
    border: 1px solid var(--organge-color);
    padding: 5px 10px;
    transition: all ease .3s;
    border-radius: 12px;
    font-weight: 700;
    margin-bottom: 8px;

}

.button-border-medium:hover {
    box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
}

.header-img {
    background-image: url('/images/wrigley.jpeg');
    background-size: cover;
    height: 200px; /* Adjust the height as needed */
    border: 1px solid white;
    border-radius: 10px;
}

h1.header-text {
    color: white;
    text-align: center;
    font-size: 64px; /* Adjust the font size as needed */
    padding: 20px;
    margin: 0;
    text-outline: 5px black;
}

/*---NAVBAR---*/

.search-bar-container {
    padding-top: 50px;
    margin-top: 30px
}

.card-img{
    height: 40px;
    width: 25px;
    background-color: ghostwhite;
    border: 1px solid #FF9900;
    border-radius: 5px;
    margin-right: 15px;
}
.card p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
* {
    margin: 0;
    padding: 0;
    /*font-family: Arial, Helvetica;*/
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
    background-color: var(--navy-blue);
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: var(--white);
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: var(--organge-color);
}
/*---END NAVBAR---*/

/*---CARDS---*/
.ads-container h1 {
    color: var(--white);
    font-size: 50px;
}
.ads-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--gray);
}

.ad-card {
    border: 5px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    margin: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.ad-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust this if needed to fit your layout */
}

.ad-header {
    text-align: center;
}

.ad-header {
    color: var(--white);
    font-size: 60px;
}

.ad-card h2 {
    font-size: 20px;
    margin-top: 0;
    height: 50px;
    margin-bottom: 10px;
}

.ad-card p {
    margin-bottom: 5px;
}

.ad-card img {
    display: block;
    width: auto;
    max-height: 200px;
    margin: 0 auto 10px;
}

.ad-card .description {
    max-height: 80px; /* Adjust the maximum height as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ad-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cost {
    margin-bottom: 0;
}

.filter-box {
    background-color: rgb(0,0,0, .7);
    border-radius: 12px;
    outline: unset;
    padding: 30px 20px 0px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: -20px;
}

.buy-button {
    background-color: var(--organge-color);
    color: var(--white);
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 700;
}

.buy-button:hover {
    box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px, rgba(255, 255, 255, 0.05) 0px 5px 10px;
    background-color: darkorange;
}

input {
    border-radius: 10px;
    padding: 3px;
    border: unset;
}

.filter-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.filter-bar h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.filter-buttons button {
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background-color: var(--organge-color);
    color: var(--white);
    cursor: pointer;
    transition: all ease 0.3s;
    font-weight: 700;
    border: unset;
}

.filter-buttons button:hover {
    background-color: darkorange;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px, rgba(255, 255, 255, 0.05) 0px 5px 10px;

}

.filter-buttons button:active {
    background-color: #e0e0e0;
}

.register-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.reg-container {
    width: 400px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.reg-header {
    color: var(--white);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: var(--organge-color);
    border: none;
    color: var(--white);
    border-radius: 12px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease .3s;
}

.btn-primary:hover {
    background-color: darkorange;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px, rgba(255, 255, 255, 0.05) 0px 5px 10px;
}
/*---END CARDS---*/


.user-actions {
    padding: 40px 0;
    margin-left: 40px;
}

.user-actions h3 {
    font-size: 24px;
}

.user-actions ul {
    list-style-type: disc;
    padding-left: 20px;
}

.user-actions li {
    font-size: 18px;
    margin-bottom: 10px;
}

.user-actions a.ui-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--organge-color);
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px ;
}

.user-actions a.ui-button:hover {
    background-color: darkorange;
    box-shadow: var(--box-shadow);
}

.login {
    padding-top: 50px
}

.hover-orange {
    transition: all ease .3s;
}

.hover-orange:hover {
    color:var(--light-orange);
}

